.data-analytics__page {
  position: relative;

  & * {
    font-weight: 500;
  }
}

.underline-header {
  font-family: "ClashDisplay-Medium";
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;

  &::after {
    content: "";
    display: block;
    position: absolute;
    bottom: -0.25rem;
    background-color: var(--clr-orange);
    height: 1.25rem;
    width: 125%;
    z-index: -1;
  }
}

.data-analytics__head {
  color: var(--font-color-inverse);
  background-image: url("/assets/bootcamps/data-analytics/banner.png");
  background-size: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 35vh;
  position: relative;

  & h1 {
    font-size: var(--font-lg);
  }
}
@media (max-width: 1200px) {
  .data-analytics__head h1 {
    display: none;
  }
}
@media (max-width: 768px) {
}

@media (max-width: 1200px) {
  .data-analytics__head {
    background-image: url("/assets/bootcamps/data-analytics/banner-small.png");
  }
}
@media (max-width: 768px) {
}

.data-analytics__about {
  background-color: var(--clr-orange-light);
  padding: var(--padding-4);
  display: flex;
  gap: var(--gap-2);

  & > * {
    width: 50%;
  }

  & .about__text {
    display: flex;
    flex-direction: column;
    gap: var(--gap-2);

    & h2 {
      display: flex;
      align-items: center;
      gap: var(--gap-1);
      font-family: "ClashDisplay-Medium";
    }

    & p {
      font-size: var(--font-md);
      font-weight: 300;
      color: var(--clr-gray);
    }
  }
}

@media (max-width: 1200px) {
  .data-analytics__about {
    flex-direction: column;
    & > * {
      width: 100%;
    }
  }
}

.data-analytics__modules {
  background-color: var(--clr-black);
  color: var(--font-color-inverse);
  padding: var(--padding-4);
  display: flex;
  flex-direction: column;
  gap: var(--gap-2);

  & h2 {
    display: flex;
    align-items: center;
    gap: var(--gap-1);
    color: var(--clr-orange);
  }

  & ol {
    display: flex;
    flex-direction: column;
    gap: var(--gap-2);

    & > li {
      font-size: var(--font-md);
      font-weight: bold;
      & > * {
        font-size: var(--font-sm);
        font-weight: normal;
      }
    }
    & ul li {
      padding-inline-start: var(--padding-1);
    }
  }
}

.data-analytics__join {
  background-color: var(--clr-orange-light);
  display: flex;
  flex-direction: column;
  gap: var(--gap-2);
  padding: var(--padding-4);

  & .underline-header {
    align-self: center;
  }

  & .card .card__content {
    padding: var(--padding-2);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: var(--gap-2);

    & p {
      width: 100%;
      font-size: var(--font-md);
      padding: var(--padding-4);
    }
  }
}
@media (max-width: 1200px) {
  .data-analytics__join .card .card__content p {
    padding: 0;
  }
}

.data-analytics__learn {
  background-color: var(--clr-black);
  padding: var(--padding-4);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--gap-2);

  & .underline-header {
    color: var(--bg-color);
  }

  & .learn__methods {
    display: grid;
    gap: var(--gap-2);
    grid-template-columns: repeat(2, 1fr);

    & .learn__method {
      background-color: var(--clr-orange-light);
      padding: var(--padding-1);
      border-radius: 0.75rem;
      display: flex;
      gap: var(--gap-1);

      & * {
        font-weight: 600;
      }

      & h3,
      & img {
        background-color: var(--bg-color);
        border-radius: 9999rem;
        padding-inline: 0.5rem;
      }

      .text {
        display: flex;
        flex-direction: column;
        gap: var(--gap-1);
        width: 90%;

        & h3 {
          padding: var(--padding-0_5);
          font-size: var(--font-sm);
          align-self: flex-start;
        }

        & p {
          padding-inline: 0.5rem;
          color: var(--clr-black);
          width: 80%;
        }
      }

      & img {
        height: 3rem;
        width: 3rem;
      }
    }
  }
}
@media (max-width: 1200px) {
  .data-analytics__learn .learn__methods {
    grid-template-columns: repeat(1, 1fr);
  }
}

.data-analytics__payment {
  padding: var(--padding-4);
  display: flex;
  flex-direction: column;
  gap: var(--gap-2);
  align-items: center;
}

.data-analytics__payment .payment__options {
  display: flex;
  align-items: start;
  justify-content: center;
  gap: var(--gap-2);
  width: 100%;
}

.data-analytics__payment .payment__option {
  padding: var(--padding-1);
  display: flex;
  flex-direction: column;
  gap: var(--gap-1);
  min-height: min(100vw, 30rem);
  width: 20rem;

  & .option__pitch {
    display: flex;
    align-items: center;
    align-self: center;
    gap: var(--gap-1);
    & i {
      font-size: var(--font-md);
    }
  }

  & .icon {
    border-radius: 9999rem;
    font-size: 1.5rem;
    padding: var(--padding-0_5);
    border: solid 1px black;
    align-self: flex-start;
  }

  & .btn {
    align-self: center;
    padding-inline: var(--padding-2);
  }
}

.data-analytics__payment .payment__option-card::after {
  min-height: 15rem;
  width: 20rem;
}
.data-analytics__payment .payment__option .option__plan {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gap-1);
  padding-inline: var(--padding-2);
  min-height: 15rem;
  & hr {
    width: 100%;
  }
  & .plan__name {
    padding-block: var(--padding-0_5);
    padding-inline: var(--padding-1);
    border-radius: 99rem;
    background-color: var(--clr-orange-light);
    color: var(--clr-orange);
    text-align: center;
  }
  & .plan__price {
    font-size: var(--font-lg);
  }
  & .plan__old-price {
    font-size: var(--font-md);
    position: relative;
  }
  & .plan__old-price::before {
    content: "";
    display: block;
    position: absolute;
    border-left: solid 2px var(--clr-orange);
    top: -170%;
    right: 50%;
    height: 450%;
    rotate: 80deg;
  }
  & .plan__old-price::after {
    content: "";
    display: block;
    position: absolute;
    border-left: solid 2px var(--clr-orange);
    top: -170%;
    right: 50%;
    height: 450%;
    rotate: -80deg;
  }
}
@media (max-width: 1200px) {
.data-analytics__payment .payment__options {
  flex-direction: column;
  }
}

.data-analytics__page .call-to-action__wrapper {
  background-color: var(--clr-orange-light);
  & .call-to-action__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--gap-1);

    & h2 {
      font-family: "ClashDisplay-Medium";
      font-size: var(--font-lg);
      text-align: center;
    }

    & p {
      font-size: var(--font-md);
      width: 70%;
      text-align: center;
    }

    & .btn {
      margin-top: 1rem;
    }
  }
}
