.research-post {
  padding-block: var(--padding-5);
  padding-inline: var(--padding-10);

  display: flex;
  flex-direction: column;
  gap: var(--gap-1);
  & h1 {
    font-family: "ClashDisplay-Regular";
    font-weight: 400;
    font-size: var(--font-xxxl);
  }
}

@media (max-width: 1200px) {
  .research-post {
    padding-inline: var(--padding-5);
  }
}

.research-post__timeline {
  font-size: var(--font-xxs);
  color: var(--clr-gray);
}

.research-post__img {
  border: solid 1px var(--clr-gray-light);
  border-radius: var(--radius-2);
  overflow: hidden;
  max-height: 40rem;

  & img {
    max-width: 100%;
    max-height: 100%;
  }
}
