title-bar .landing {
  display: grid;
}

.landing > * {
  max-width: 100vw;
  padding: var(--padding-4);
}

.landing__hero {
  display: flex;
  gap: var(--gap-2);
  background-image: url("/assets/index/bg.png");
  align-items: center;
  justify-content: center;
  padding-bottom: var(--padding-5);
}

.landing__hero > * {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
}

.landing .hero__text {
  align-items: start;
  gap: var(--gap-1);

  & .text__content {
    display: flex;
    flex-direction: column;
    gap: var(--gap-3);
  }
}

.landing .hero__text h1 {
  font-family: "ClashDisplay-Light";
  font-size: var(--font-xxxl);
}

.landing .hero__desc {
  font-size: var(--font-sm);
}
.landing .hero__text > p {
  padding-inline-end: 25%;
  font-size: var(--font-md);
}

.landing .hero__buttons {
  width: 100%;
  display: flex;
  padding-inline-end: 25%;
  gap: var(--gap-1);
}

.landing .hero__trained {
  background-color: var(--clr-orange-light);
  padding-inline: var(--padding-2);
  padding-block: 0.5rem;
  width: fit-content;
  display: flex;
  align-items: center;
  height: 3rem;
  gap: var(--gap-1);
  & img {
    min-width: 4rem;
    max-width: 5rem;
  }
  & p {
    font-size: var(--font-sm);
    font-weight: 600;
  }
  border-radius: 999rem;
}

.landing .hero__image {
  position: relative;
  display: flex;
  align-items: center;
}

/* NOTE: Hero media query*/
@media (max-width: 1200px) {
  .landing > * {
    padding-inline: var(--padding-3);
  }
  .landing__hero {
    flex-direction: column;
    align-items: center;
  }

  .landing__hero > * {
    width: 100%;
  }

  .landing .hero__text {
    align-items: center;
    text-align: center;
  }
  .landing .hero__text h1 {
    text-align: center;
  }
  .landing .hero__text > p {
    padding-inline-end: 0;
  }
  .landing .hero__buttons {
    justify-content: center;
    gap: var(--gap-3);
    padding-inline-end: 0;
  }
  .landing .hero__trained {
    align-self: center;
  }
}

@media (max-width: 768px) {
  .landing .hero__text {
    align-items: start;
    text-align: left;
    & .text__content {
      font-size: var(--font-md);
    }
  }
  .landing .hero__text h1 {
    text-align: left;
  }
  .landing .hero__image {
    display: none;
  }
  .landing .hero__buttons {
    justify-content: start;
    gap: var(--gap-1);
  }
  .landing .hero__trained {
    align-self: start;
  }
  .landing .hero__graph {
    bottom: -2rem;
  }
}

.landing__companies-banner {
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  background-color: var(--clr-orange-light);
  padding-block: var(--padding-1);
}

.landing__companies-banner > * {
  padding-inline-end: var(--padding-2);
}

.landing__companies-banner .track {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 100%;
  align-items: center;
  animation: scroll 10s linear infinite;
  & img {
    min-width: 70rem;
  }
}

.landing__companies-banner:hover .track {
  animation-play-state: paused;
}

@keyframes scroll {
  0% {
    transform: translateX(50%);
  }
  100% {
    transform: translateX(-50%);
  }
}

@media (max-width: 768px) {
  .landing__companies-banner .track img {
    min-width: 40rem;
  }
}

.landing__heading {
  border: solid 1px black;
  border-radius: var(--radius-2);
  padding: var(--padding-0_5);
}

.landing__sub-heading {
  font-family: "ClashDisplay-Light";
  font-size: var(--font-xxl);
  text-align: center;
}

.landing__our-services {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--gap-2);

  & .our-services__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--gap-2);

    & .our-services__card {
      display: flex;
      flex-direction: column;
      gap: var(--gap-1);

      position: relative;
      overflow: hidden;

      border: solid 1px var(--clr-gray-light);
      border-radius: var(--radius-5);
      padding: var(--padding-1);

      height: 30rem;

      & .card-title {
        font-size: var(--font-sm);
      }

      & .card-desc {
        font-size: var(--font-xxs);
        color: var(--clr-gray);
      }

      & .card-image {
        position: absolute;
        bottom: -300px;
        right: -150px;

        transition: all 1.2s;

        & img {
          width: 150%;
        }
      }

      &:hover .card-image {
        bottom: -100px;
        right: 20px;

        transition: all 1.2s;
      }
    }
  }
  & .our-services__split-cards {
    display: flex;
    flex-direction: column;
    gap: var(--gap-1);

    & .our-services__split-card {
      display: flex;
      gap: var(--gap-4);

      & h2 {
        font-size: var(--font-xxl);
      }

      & > div {
        width: 50%;

        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: var(--gap-1);

        & .btn {
          align-self: flex-start;
          width: fit-content;
        }
      }

      & h2 {
        font-family: "ClashDisplay-Light";
      }
    }
  }
}

.landing__testimonials {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--gap-2);

  & .testimonials-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--gap-3);

    & .testimonials-card {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: var(--gap-1);

      position: relative;

      padding: var(--padding-1);

      border: solid 1px var(--clr-gray-light);
      border-radius: var(--radius-5);

      background-color: white;

      &::before {
        content: "";

        background-color: var(--clr-orange-light);

        width: 100%;
        height: 100%;

        position: absolute;
        top: -25px;
        left: 0;

        border: solid 1px var(--clr-gray-light);
        border-radius: var(--radius-5);

        z-index: -1;
      }

      & .card-head {
        display: flex;
        align-items: center;
        gap: var(--gap-2);

        & .card-initials {
          padding: var(--padding-1);

          background-color: var(--clr-orange);

          border-radius: var(--radius-1);

          color: white;
          font-weight: 600;
        }
      }
    }
  }
}
