.call-to-action {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gap-2);

  padding: var(--padding-5);
  height: 30rem;

  border-radius: var(--radius-5);

  background: var(--bg-gradient);

  & h2 {
    font-weight: 400;
    text-align: center;
    font-family: "ClashDisplay-Regular";
    font-size: var(--font-xxl);
  }

  & > div {
    display: flex;
    gap: var(--gap-2);
  }
}
