.call-to-action {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gap-2);

  padding: var(--padding-5);
  height: 30rem;

  border-radius: var(--radius-5);

  background: var(--bg-gradient);

  & h2 {
    font-weight: 400;
    text-align: center;
    font-family: "ClashDisplay-Regular";
    font-size: var(--font-xxl);
  }
}
.call-to-action__btns {
  display: flex;
  gap: var(--gap-2);
}

@media (max-width: 1200px) {
  .call-to-action__btns {
    width: 100%;
    flex-direction: column;
    gap: var(--gap-1);

    & .btn {
      width: 100%;
    }
  }
}
