.success {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--gap-2);
  background-color: var(--clr-orange-light);
  padding: var(--padding-4);
}

.success__card {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.success__header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: var(--padding-2);
  background-color: #ceffd5;

  & > * {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
  }

  & img {
    max-width: 8rem;
  }

  & h1 {
    font-family: "ClashDisplay-Regular";
    font-size: var(--font-lg);
    font-weight: 400;
  }
}

.success__body {
  width: 100%;
  display: flex;

  & > * {
    width: 50%;
  }
}

.success__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: var(--padding-2);
  gap: var(--gap-2);

  & ol {
    display: flex;
    flex-direction: column;
    gap: var(--gap-2);
  }
}
.success__img {
  align-self: center;
}

@media (max-width: 768px) {
  .success__text {
    width: 100%;
  }
  .success__img {
    display: none;
  }
  .success__header img {
    max-width: 4rem;
  }
  .success__header h1 {
    font-size: var(--font-md);
  }
}
