.card {
  position: relative;
  z-index: 1;

  & > * {
    border: solid 1px var(--clr-black);
    background-color: var(--bg-color);
    border-radius: 0.75rem;
  }
}

.card::after {
  content: "";
  display: block;
  position: absolute;
  top: 10px;
  left: -10px;
  border-radius: 0.75rem;
  background-color: var(--bg-color);
  border: solid 1px var(--clr-black);
  width: 100%;
  height: 100%;
  z-index: -1;
}
