:root {
  --card-radius: 1.25rem;
}
.card {
  position: relative;
  z-index: 1;

  & > * {
    border: solid 1px var(--clr-black);
    background-color: var(--bg-color);
    border-radius: var(--card-radius);
  }
}

.card::after {
  content: "";
  display: block;
  position: absolute;
  top: 5px;
  left: -5px;
  border-radius: var(--card-radius);
  background-color: var(--bg-color);
  border: solid 1px var(--clr-black);
  width: 100%;
  height: 100%;
  z-index: -1;
}
