.header {
  width: 100vw;
  height: 5rem;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: var(--padding-4);
  background-color: var(--bg-color);
  z-index: 3;
  box-shadow: var(--shadow);
}

.header__logo {
  max-height: 100%;
  width: fit-content;
}

.header__nav {
  display: flex;
  gap: var(--gap-2);
  align-items: center;
  justify-content: space-between;
}

.nav__menu {
  display: none;

  & ::marker {
    content: "";
  }

  & .x,
  & .burger {
    display: flex;
    justify-content: center;
    font-size: var(--font-lg);
    cursor: pointer;
  }

  & .x {
    display: none;
  }

  & .menu__wrapper {
    position: fixed;
    top: 5rem;
    left: 0;
    height: calc(100vh - 5rem);
    height: calc(100svh - 5rem);
    width: 100vw;
    background-color: white;
  }

  & .menu__content {
    height: 75%;
    display: flex;
    flex-direction: column;
    padding: var(--padding-4);
    gap: var(--gap-2);

    & .btn {
      width: 50%;
      margin-top: auto;
    }

    & p,
    & .menu__link {
      font-family: "ClashDisplay-Regular";
      font-weight: 700;
      font-size: var(--font-lg);
    }

    & i {
      font-size: 1rem;
    }
  }
}

.nav__menu .menu__dropdown {
  & .content__link {
    padding-inline: var(--padding-1);
    font-size: var(--font-md);
  }

  & p {
    display: flex;
    align-items: center;
    gap: var(--gap-1);
    cursor: pointer;
  }
}
.nav__menu[open] {
  & .burger {
    display: none;
  }
  & .x {
    display: flex;
  }
}

.nav__link {
  position: relative;
}

.nav__link:hover,
.nav__link:focus {
  color: var(--clr-orange);
  transition: var(--transition-1);
}

.nav__link {
  display: flex;
  gap: 0.25rem;
  z-index: 2;
}

.nav__dropdown-container .drop-down {
  display: none;
  position: relative;
}

.nav__dropdown-container:hover .drop-down,
.nav__dropdown-container .nav__link:focus + .drop-down {
  display: block;
  position: absolute;
  top: 50%;
  color: var(--font-color-inverse);
}

.drop-down__arrow {
  align-self: center;
  font-size: 10px;
}

.drop-down__sep {
  height: 3rem;
  background-color: transparent;
}

.drop-down__top {
  background-color: white;
  height: 1rem;
  width: 50%;
  top: 2.05rem;
  position: absolute;
  border: solid 1px var(--clr-black);
  border-bottom: none;
}

.drop-down__links {
  border: solid 1px var(--clr-black);
  background-color: white;
  color: var(--font-color);
  padding-block: 1.5rem;
  padding-inline-start: 2rem;
  padding-inline-end: 3rem;
  display: grid;
  gap: var(--gap-1);
}

.drop-down__link {
  list-style: none;
  display: flex;
  gap: var(--gap-1);
  align-items: center;

  & i {
    font-size: var(--font-xs);
  }
}
.drop-down__link:hover,
.drop-down__link:has(a:focus) {
  color: var(--clr-orange);
  transition: var(--transition-1);
}

.header__spacer {
  height: 5rem;
}

@media (max-width: 1200px) {
  .header {
    padding-inline: var(--padding-2);
  }
  .header__nav,
  .nav__contact-us {
    display: none;
  }

  .nav__menu {
    display: block;
    min-width: 2.5rem;
    max-width: 2.5rem;
    background-color: transparent;
    border: none;
  }
}
