.partners {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--gap-1);
  padding: var(--padding-4);

  background-color: var(--clr-blue);

  & h2 {
    font-family: "ClashDisplay-Regular";
    font-size: var(--font-lg);
  }

  & > div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 80%;
    gap: var(--gap-2);

    & > * {
      display: flex;
      align-items: center;
    }
  }
}
