.blog-page {
  min-height: 100vh;
  background-color: var(--clr-orange-light);
  padding: 4rem;
  display: flex;
  gap: var(--gap-2);
}

.blog-page .look-up {
  width: 30%;
  display: flex;
  flex-direction: column;
  gap: var(--gap-2);
}

.blog-page .look-up .card {
  border: none;
  width: 100%;
  position: relative;
  z-index: 1;
}

.card .search {
  background-color: var(--bg-color);
  border: solid 1px var(--clr-black);
  height: 100%;
  width: 100%;
  padding-inline: 1rem;
  padding-block: 0.7rem;
}

.blog-page .look-up .top-posts__wrapper {
  position: relative;
  z-index: 1;
}

.blog-page .look-up .top-posts {
  padding-block: 1rem;
  padding-inline: 3rem;
  border-radius: 1rem;
  border: solid 1px var(--clr-black);
  background-color: var(--bg-color);
}

.top-posts__wrapper::after {
  content: "";
  display: block;
  position: absolute;
  left: -5px;
  top: 5px;
  background-color: red;
  background-color: var(--bg-color);
  border: solid 1px var(--clr-black);
  border-radius: 0.75rem;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.blog-page .look-up .top-posts ol {
  display: flex;
  flex-direction: column;
  gap: var(--gap-2);

  & li {
    &::marker {
      font-weight: bold;
      font-size: 1.7rem;
    }
    & p {
      color: var(--clr-gray);
    }
  }
}

.blog-page .blog-posts {
  width: 70%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--gap-2);
}

.blog-post__wrapper {
  position: relative;
  z-index: 1;
}

.blog-post {
  overflow: hidden;
  background-color: var(--bg-color);
  border: solid 1px var(--clr-black);
  display: flex;
  flex-direction: column;
  gap: var(--gap-2);
  max-width: 30rem;
  height: 35rem;
  min-height: 25rem;
  padding-bottom: 1rem;
  border-radius: 0.75rem;
}

.blog-post__image {
  height: 70%;
}

.blog-post__content {
  height: 30%;
  padding: var(--padding-2);
  display: flex;
  align-items: center;
  gap: var(--gap-4);
}
.blog-post__wrapper::after {
  content: "";
  display: block;
  position: absolute;
  left: -5px;
  top: 5px;
  background-color: red;
  background-color: var(--bg-color);
  border: solid 1px var(--clr-black);
  border-radius: 0.75rem;
  width: 100%;
  height: 100%;
  z-index: -1;
}
