.blog-page {
  background-color: var(--clr-orange-light);
  padding-bottom: var(--padding-4);

  & > * {
    padding-inline: var(--padding-4);
  }
}

.blog-page .hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-4);

  & h1 {
    font-family: "ClashDisplay-Medium";
    font-size: var(--font-lg);
  }
  & p {
    text-align: center;
    width: 70%;
  }
}

.blog-page .posts {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: var(--gap-2);
}

.blog-page .post {
  display: flex;
  flex-direction: column;
  gap: var(--gap-1);
  overflow: hidden;
  padding-bottom: var(--padding-1);
  background-color: var(--clr-gray-light);

  & img {
    max-height: 15rem;
  }
}

.blog-page .post__card {
  height: 100%;
  min-width: 10rem;
  max-width: 20rem;
}

.blog-page .post__content {
  display: flex;
  flex-direction: column;
  gap: var(--gap-1);
  padding-inline: var(--padding-2);
}

.blog-page .post__title {
  font-size: var(--font-sm);
  font-weight: 700;
}

.blog-page .post__summary {
  font-size: var(--font-xs);
}

.blog-page .post__date {
  font-size: var(--font-xs);
  color: var(--clr-gray);
}

.blog-page .post .btn {
  padding-inline: var(--padding-2);
  font-size: var(--font-xs);
  align-self: flex-start;
}

@media (max-width: 1200px) {
  .blog-page .hero {
    align-items: flex-start;

    & p {
      text-align: left;
      width: 100%;
    }
  }
  .blog-page .posts {
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
  }
}
@media (max-width: 768px) {
  .blog-page .posts {
    grid-template-columns: repeat(1, 1fr);
  }
}
