.blog-post {
  padding: var(--padding-4);
  background-color: var(--clr-orange-light);
  display: flex;
  flex-direction: column;
  gap: var(--gap-3);
}

.blog-post__title {
  font-family: "ClashDisplay-Regular";
  font-size: var(--font-lg);
  max-width: 50rem;
}

.blog-post__image {
  max-width: 30rem;
}

.blog-post__content {
  display: flex;
  flex-direction: column;
  gap: var(--gap-3);
}

.blog-post__text {
  display: flex;
  flex-direction: column;
  gap: var(--gap-1);
}
