.consultancy__page > * {
  padding: var(--padding-4);

  & h2,
  & h1 {
    font-family: "ClashDisplay-Regular";
  }
}

.consultancy__first {
  display: flex;
  flex-direction: column;
  gap: var(--gap-2);

  & > div {
    display: grid;
    gap: var(--gap-1);
    grid-template-columns: repeat(auto-fit, minmax(45vw, 1fr));
    & > h1 {
      font-size: var(--font-lg);
    }

    & > p {
      font-size: var(--font-md);
    }
  }
}

.consultancy__second {
  display: flex;
  flex-direction: column;
  gap: var(--gap-5);
  background-color: var(--clr-black);
  color: var(--font-color-inverse);

  & > div {
    display: flex;
    flex-direction: column;
    gap: var(--gap-1);
    & > h2 {
      max-width: 40rem;
    }

    & > p {
      font-size: var(--font-md);
    }
  }

  & .btn {
    align-self: start;
    color: var(--font-color-inverse);
  }

  & .btn:hover {
    border: solid 1px var(--font-color-inverse);
  }
}
.consultancy__third {
  display: flex;
  flex-direction: column;
  gap: var(--gap-5);

  & > div {
    display: flex;
    flex-direction: column;
    gap: var(--gap-1);

    & > p {
      max-width: 70rem;
    }
  }

  & ol {
    display: flex;
    flex-direction: column;
    gap: var(--gap-3);
    & li {
      list-style: none;
      font-weight: 600;
      display: flex;
      gap: var(--gap-1);
      align-items: center;

      & img {
        max-width: 2rem;
      }
    }
  }
}

.consultancy__fourth {
  background-color: var(--clr-orange-light);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--gap-2);

  & .consultancy__partners {
    padding-inline: var(--padding-4);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: var(--gap-3);

    & img#wbnk,
    & img#usaid,
    & img#mcart,
    & img#r4d,
    & img#giz {
      max-width: 13rem;
    }
    & img#stc {
      max-width: 6rem;
    }
    & img#caid {
      max-width: 7rem;
    }
    & img#jhp {
      max-width: 8rem;
    }
  }
}

.consultancy__fifth {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--gap-3);
  background-color: var(--clr-black);
  color: var(--font-color-inverse);

  & h2 {
    text-align: center;
  }

  & > div {
    display: flex;
    flex-direction: column;
    align-items: center;

    & > * {
      font-family: "ClashDisplay-Regular";
      font-size: var(--font-md);
      color: var(--clr-orange-light);
    }

    & > a {
      text-decoration: underline;
      transition: var(--transition-2);
    }
    & > a:hover {
      color: var(--clr-orange);
      transition: var(--transition-2);
    }
  }

  & .btn {
    color: var(--font-color-inverse);
  }

  & .btn:hover {
    border: solid 1px var(--font-color-inverse);
  }
}

@media (max-width: 1200px) {
  .consultancy__fifth {
    align-items: start;
    & h2 {
      text-align: start;
    }
    & > div {
      align-items: start;
    }
  }
}
