.contact-us__page {
  padding: var(--padding-4);
  display: flex;
  flex-direction: column;
  gap: var(--gap-4);
}
.contact-us__head {
  display: flex;
  gap: var(--gap-1);
  padding-block: var(--padding-4);
  flex-direction: column;
  align-items: center;

  & > h1 {
    font-family: "ClashDisplay-Medium";
    font-size: var(--font-lg);
  }

  & > p {
    text-align: center;
    width: 60%;
  }
}

.contact-us__options {
  display: flex;
  gap: var(--gap-4);
  border-radius: 0.5rem;
  padding: var(--padding-2);
  background-color: var(--clr-orange-light);
  flex-wrap: wrap-reverse;

  & > * {
    flex: 1 1 40%;
  }
}

.contact-us__enquiries {
  display: flex;
  flex-direction: column;
  gap: var(--gap-4);
  border-radius: 0.5rem;
  padding: var(--padding-3);
  background-color: white;

  & h2 {
    font-size: var(--font-lg);
    font-family: "ClashDisplay-Medium";
  }
}

.contact-us__enquiries .contacts {
  display: flex;
  flex-direction: column;
  gap: var(--gap-2);
}
.contact-us__enquiries .contact {
  display: flex;
  align-items: center;
  gap: var(--gap-2);

  & i {
    font-size: var(--font-md);
  }

  & .numbers {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.contact-us__enquiries .social-contacts {
  display: flex;
  gap: var(--gap-2);

  & i {
    font-size: var(--font-md);
  }
}

.contact-us__form {
  display: flex;
  flex-direction: column;
  gap: var(--gap-2);

  & .input-wrapper {
    display: flex;
    flex-direction: column;
    gap: var(--gap-1);

    & label {
      font-weight: 700;
    }

    & input,
    & textarea {
      background-color: transparent;
      border: none;
      border-bottom: 2px solid var(--clr-orange); /* set only bottom border */
    }

    & textarea {
      height: 10rem;
      resize: none;
    }
  }

  & .btn {
    align-self: flex-start;
    width: 40%;
  }
}
