.courses-page > * {
  padding: var(--padding-4);
}

.courses-page .courses__head {
  display: flex;
  flex-direction: column;
  gap: var(--gap-1);
  width: 100%;
  max-width: 40rem;

  & h1 {
    font-size: var(--font-lg);
    font-family: "ClashDisplay-Medium";
  }

  & p {
    font-size: var(--font-md);
  }
}

.courses-page .courses {
  background-color: var(--clr-orange-light);
}

.courses__title {
  display: flex;
  align-items: center;
  gap: var(--gap-1);
}

.courses {
  display: flex;
  flex-direction: column;
  gap: var(--gap-1);
}

.course__card {
  width: 100%;
  max-width: 20rem;
}
.course {
  width: 100%;
  max-width: 20rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  & .course__content {
    height: 60%;
  }
}

.course__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-1);
  padding: var(--padding-1);
}
