.not-found {
  height: 90svh;
  padding: var(--padding-2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--clr-orange-light);

  img {
    width: 40%;
    min-width: 15rem;
  }

  & h2 {
    font-family: "ClashDisplay-Bold";
  }

  & h2,
  & p {
    text-align: center;
  }

  & > p a {
    text-decoration: underline;
    transition: var(--transition-1);
  }

  & > p a:hover {
    color: var(--clr-orange);
    transition: var(--transition-1);
  }
}
