.our-team__page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gap-5);
}

.our-team__heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--clr-orange-light);
  padding: var(--padding-4);
  gap: var(--gap-1);

  & h1 {
    font-family: "ClashDisplay-Medium";
    font-size: var(--font-lg);
  }
  & h2 {
    text-align: center;
    font-weight: 400;
    width: 60%;
    font-size: var(--font-md);
    color: var(--clr-gray);
  }
}

.our-team__members {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--gap-5);

  & .members__wrapper {
    display: flex;
    flex-direction: column;
    gap: var(--gap-2);

    & h3 {
      font-family: "ClashDisplay-Medium";
      align-self: center;
      display: flex;
      gap: var(--gap-1);
      text-align: center;
      align-items: center;
    }

    & .members {
      gap: var(--gap-4);
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      padding: var(--padding-4);
    }
  }
}

.our-team__member {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gap-1);
  overflow: hidden;
  width: 100%;
  max-width: 30rem;
  min-height: 35rem;

  & .member__image {
    background-color: var(--clr-orange-light);
    border-bottom: solid 1px var(--clr-black);
  }

  & .member__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--gap-1);
    padding: var(--padding-1);
    min-height: 12rem;

    & h3 {
      font-size: var(--font-md);
      font-weight: 400;
    }

    & p {
      font-size: var(--font-sm);
      text-align: center;
    }
  }
}
@media (max-width: 1200px) {
  .our-team__members .members__wrapper .members {
    grid-template-columns: repeat(2, 1fr);
  }

  .our-team__heading h2 {
    text-align: left;
    width: 100%;
  }

  .our-team__member .member__info {
    min-height: 10rem;
  }
}
@media (max-width: 768px) {
  .our-team__members .members__wrapper .members {
    grid-template-columns: repeat(1, 1fr);
  }
}
