.our-team__page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gap-5);
}

.our-team__heading {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 4rem;
  gap: var(--gap-1);

  & h2 {
    text-align: center;
    font-weight: 400;
    color: var(--clr-gray);
  }
}

.our-team__members {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--gap-5);
  & > * {
    display: grid;
    gap: var(--gap-4);
    grid-template-columns: repeat(3, 1fr);
    padding-inline: var(--padding-5);
  }
}

& .our-team__member {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gap-1);
  overflow: hidden;

  & .member__image {
    background-color: var(--clr-orange-light);
    border-bottom: solid 1px var(--clr-black);
  }

  & .member__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--gap-1);
    padding: var(--padding-1);

    & h3 {
      font-size: 1.75rem;
      font-weight: 400;
    }

    & p {
      font-size: 1.25rem;
    }
  }
}
