.payment-success {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--gap-2);
  background-color: var(--clr-orange-light);
  padding: var(--padding-4);
}

.payment-success__card {
  background-color: white;
  border-radius: 0.5rem;
  padding: var(--padding-4);
  display: flex;
  flex-direction: column;
  gap: var(--gap-4);
  align-items: center;

  & > p {
    text-align: center;
    background-color: #C7FFD0;
    border: solid 1px #4DC55F;
    width: fit-content;
    padding: var(--padding-0_5);
    border-radius: 2rem;
  }
}

.payment-success__text {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: var(--gap-2);
}
