.research {
  display: flex;
  flex-direction: column;
  gap: var(--gap-2);
}
.research__hero {
  height: 100vh;
  height: 100svh;
  background-color: var(--clr-orange-light);
  display: flex;
  padding: var(--padding-4);
  gap: var(--gap-2);

  & > * {
    width: 50%;
    display: flex;
    justify-content: center;
  }
}

.research .hero__text {
  flex-direction: column;
  gap: var(--gap-2);
}

.research .hero__text h1 {
  font-size: 3rem;
}

.research__researches {
  padding-inline: var(--padding-4);
}

.researches__title {
  display: flex;
  align-items: center;
  gap: var(--gap-1);
}

.researches__title .title__bar {
  border: solid 1px var(--clr-orange);
  background-color: var(--clr-orange);
  height: 3px;
  width: 4rem;
}

.researches__content {
  display: grid;
  grid-template-columns: repeat(1fr, 3);
}
