.researches {
  display: flex;
  flex-direction: column;
  gap: var(--gap-2);
  background-color: var(--clr-orange-light);
  padding-bottom: var(--padding-4);
}

.researches__hero {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: var(--padding-4);
  gap: var(--gap-2);
}

.researches__hero h1 {
  font-family: "ClashDisplay-Medium";
  font-size: var(--font-lg);
  text-align: center;
  width: 70%;
}

.researches__hero p {
  text-align: center;
  width: 60%;
}

.researches__posts {
  padding-inline: var(--padding-4);
  display: flex;
  flex-direction: column;
  gap: var(--gap-1);
}

.posts__title {
  display: flex;
  align-items: center;
  gap: var(--gap-1);
}

.posts__content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: var(--gap-2);
  justify-content: space-between;
}

.researches .post__card {
  min-width: 10rem;
  width: 100%;
  max-width: 20rem;
  height: 25rem;
}

.researches__post {
  overflow: hidden;
  width: 100%;
  height: 100%;

  & > * {
    height: 50%;
  }

  & .post__text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: var(--padding-1);
    background-color: var(--clr-gray-light);

    & :last-child {
      margin-top: auto;
    }
  }
}
@media (max-width: 1200px) {
  .researches__hero h1 {
    text-align: left;
    width: 100%;
  }
  .researches__hero p {
    text-align: left;
    width: 100%;
  }
  .posts__content {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 768px) {
  .posts__content {
    grid-template-columns: repeat(1, 1fr);
  }
}
