.who-we-are-page > * {
  padding: var(--padding-4);
}
.who-we-are-page > img {
  padding: 0;
}

.who-we-are__hero {
  display: flex;
  align-items: center;
  background-color: var(--clr-orange-light);
  gap: var(--gap-2);

  & > * {
    width: 50%;
  }
  & h2 {
    font-size: var(--font-lg);
    font-weight: 500;
  }

  & p {
    font-size: var(--font-md);
  }
}

.who-we-are__mission {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gap-4);
  background-color: var(--clr-orange-light);
  min-height: 80vh;
  min-height: 80svh;

  & h2 {
    font-size: var(--font-xxl);
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px;
  }

  & p {
    font-size: 1.6rem;
    text-align: center;
    width: 80%;
  }

  & .quote {
    font-family: "Times New Roman", Times, serif;
    font-size: 7rem;
  }
}

.who-we-are__vision {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gap-4);
  color: var(--clr-orange-light);
  background-color: var(--clr-black);
  min-height: 80vh;
  min-height: 80svh;

  & h2 {
    font-size: 6rem;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px;
  }

  & p {
    font-size: 1.6rem;
    text-align: center;
    width: 80%;
  }

  & .quote {
    font-family: "Times New Roman", Times, serif;
    font-size: 7rem;
  }
}
