.footer {
  position: relative;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  gap: var(--gap-2);

  padding: var(--padding-4);

  background-color: var(--clr-gray);
  color: white;
}

.footer a:focus,
.footer a:hover {
  color: var(--clr-orange);
  transition: var(--transition-1);
}

.footer__logo {
  max-width: 10rem;
}

.footer__col {
  display: flex;
  flex-direction: column;
  gap: var(--gap-1);
}

.footer__follow {
  display: flex;
  flex-direction: column;
  gap: var(--gap-1);
}

.footer__col .col__header {
  font-size: var(--font-md);
}

.footer__col .get-in-touch {
  display: flex;
  gap: var(--gap-1);
}
.footer__col .get-in-touch i {
  font-size: var(--font-md);
}
.footer .follow-links {
  display: flex;
  gap: var(--gap-1);
}
.footer .follow-links i {
  font-size: var(--font-md);
}

@media (max-width: 1200px) {
  .footer {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .footer {
    grid-template-columns: repeat(1, 1fr);
  }
}

.footer__copyright {
  grid-column: 1 / -1;
}
