.who-we-are {
  padding-block: var(--padding-4);
  display: flex;
  flex-direction: column;
  gap: var(--gap-2);

  & > * {
    padding-inline: var(--padding-4);
  }

  & h2 {
    font-family: "ClashDisplay-Regular";
    font-weight: 400;
    font-size: var(--font-xxl);
  }
}

.who-we-are__hero {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: var(--gap-2);

  & > * {
    width: 100%;
    flex: 1 1 48%;
  }
  & h1 {
    font-family: "ClashDisplay-Regular";
    font-size: var(--font-xxl);
    font-weight: 400;
  }
}

.who-we-are__mission-vision {
  display: flex;
  height: 80svh;
}

.who-we-are__mission {
  flex: 6;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: flex-start;
}

@keyframes progress {
  0% {
    height: 0;
  }
  100% {
    height: 100%;
  }
}

.who-we-are__scroll-bars {
  flex: 1;
  position: relative;

  display: flex;
  align-items: flex-start;

  height: 100%;
}
.who-we-are__scroll-bar {
  position: absolute;
  overflow: hidden;

  & img {
    height: 70svh;
  }

  &:last-child {
    animation-timeline: view();
    animation-duration: auto;
    animation-timing-function: linear;
    animation-name: progress;
  }
}

.who-we-are__vision {
  flex: 6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: flex-end;

  & h2 {
    font-family: "ClashDisplay-Regular";
    font-weight: 400;
    font-size: var(--font-xxl);
  }
}
@media (max-width: 1200px) {
  .who-we-are__mission p {
    width: 100%;
    align-self: initial;
  }
  .who-we-are__vision {
    width: 100%;
    align-self: initial;
  }
  .who-we-are__mission-vision {
    height: 100%;
    flex-direction: column;
    gap: var(--gap-2);
  }
  .who-we-are__scroll-bars {
    display: none;
  }
}

.who-we-are__approach {
  display: flex;
  flex-direction: column;
  gap: var(--gap-4);

  & .approach__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--gap-4);

    & .approach__card {
      padding: var(--padding-2);

      display: flex;
      flex-direction: column;
      gap: var(--gap-4);

      border-radius: var(--radius-5);
      background: var(--bg-gradient);
      & .card__head {
        display: flex;
        flex-direction: column;
        gap: var(--gap-1);
      }

      & .card__title {
        font-size: var(--font-md);
      }

      & img {
        max-width: 2rem;
      }
    }
  }
}

@media (max-width: 1400px) {
  .who-we-are__approach .approach__cards {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 1200px) {
  .who-we-are__approach .approach__cards {
    grid-template-columns: repeat(1, 1fr);
  }
}
