.landing-page {
  background: linear-gradient(
    to right,
    var(--bg-color),
    var(--clr-orange-light)
  );
}
.hero {
  display: flex;
  gap: var(--gap-2);
  padding-inline: var(--inner-padding);
  min-height: 80vh;
}

.hero > * {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
}

.hero__text {
  align-items: start;
  gap: var(--gap-1);
}

.hero__text h1 {
  font-size: 4rem;
}

.hero__text p {
  padding-inline-end: 50%;
  font-size: 1.3rem;
}

.hero__buttons {
  width: 100%;
  display: flex;
  padding-inline-end: 25%;
  justify-content: space-between;
}

.companies__banner {
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-color);
  width: 100%;
  height: 6rem;
}

.companies__banner .track {
  height: 100%;
  display: flex;
  flex: 0 0 100%;
  gap: var(--gap-1);
  align-items: center;
  animation: scroll 10s linear infinite;
}

.companies__banner .track .logo__container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.companies__banner .track .logo__container:nth-child(1) {
  padding-inline-start: 1rem;
}

.companies__banner:hover .track {
  animation-play-state: paused;
}

@keyframes scroll {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(50%);
  }
}

.sub-header {
  margin-block: 4rem;
  font-size: 2rem;
  text-align: center;
}

.programs-section {
  display: grid;
  gap: var(--gap-1);
  justify-content: center;
  padding-inline: var(--inner-padding);
}

.programs {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--gap-5);
}

.program {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 30rem;
  min-height: 27rem;
  padding-bottom: 1rem;
  background-color: var(--bg-color);
  border-radius: 0.75rem;
  box-shadow: -5px 5px 10px 0 var(--clr-gray);
}

.program__image {
  height: 50%;
}

.program__body {
  display: flex;
  flex-direction: column;
  gap: var(--gap-1);
  padding-inline: 2rem;
}

.program__title {
  font-size: 1.75rem;
}

.program .button {
  position: absolute;
  bottom: 5%;
  font-size: 1rem;
  align-self: center;
}

.deliver {
  background-color: var(--clr-orange-light);
}

.deliver .sub-header {
  color: var(--clr-orange);
}

.deliver__content {
  display: flex;
  gap: var(--gap-2);
}

.deliver__content > * {
  width: 50%;
}

.deliver__text p {
  font-weight: bold;
}
