@import "https://www.nerdfonts.com/assets/css/webfont.css";
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("/fonts/clash-display/Fonts/WEB/css/clash-display.css");

:root {
  --clr-dark-900: black;
  --clr-light-900: white;

  --bg-color-light: white;
  --bg-color-dark: #1c1b22;

  --clr-light-gray: #fbfbfb;
  --clr-gray: #878787;
  --clr-light-gray: #f5f5f5;
  --clr-black: #2c2b2d;
  --clr-orange: #f56e0f;
  --clr-orange-medium: #f9a971;
  --clr-orange-light: #fde9da;
  /* --clr-orange-light: color-mix(in srgb, var(--clr-orange) 20%, transparent); */
  --padding-1: 1rem;
  --padding-2: 2rem;
  --padding-3: 3rem;
  --padding-4: 4rem;
  --padding-5: 5rem;

  --gap-1: 1rem;
  --gap-2: 2rem;
  --gap-3: 3rem;
  --gap-4: 4rem;
  --gap-5: 5rem;

  --transition-1: 0.1s;
  --transition-2: 0.2s;

  --shadow: -5px 5px 10px 0 var(--clr-gray);

  --font-xs: 0.75rem;
  --font-sm: 1rem;
  --font-md: 1.5rem;
  --font-lg: 2.5rem;
  --font-xl: 4rem;
  --font-xxl: 6rem;
}

@media (prefers-color-scheme: light) {
  :root {
    --font-color: var(--clr-dark-900);
    --font-color-inverse: var(--clr-light-900);
    --bg-color: var(--bg-color-light);
    --bg-color-inverse: var(--bg-color-dark);
  }
  body {
    background-color: var(--bg-color);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    /* Change back to dark when done */
    /*                               */
    /* --font-color: var(--clr-light-900); */
    /* --font-color-inverse: var(--clr-dark-900); */
    /* --bg-color: var(--bg-color-dark); */
    /* --bg-color-inverse: var(--bg-color-light); */
    --font-color: var(--clr-dark-900);
    --font-color-inverse: var(--clr-light-900);
    --bg-color: var(--bg-color-light);
    --bg-color-inverse: var(--bg-color-dark);
  }
  body {
    background-color: var(--bg-color);
  }
}

* {
  font-family:
    "Poppins",
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  padding: 0;
  margin: 0;
  color: inherit;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

html {
  color-scheme: dark light;
  box-sizing: border-box;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-padding-top: 4rem;
    scroll-behavior: smooth;
  }
}

body {
  color: var(--font-color);
  min-height: 100vh;
  min-height: 100svh;
}

table {
  text-indent: 0;
  border-color: inherit;
  border-collapse: collapse;
  border-spacing: 0;
}

img,
video,
svg,
picture {
  display: block;
  width: 100%;
}

button,
input,
select,
textarea {
  font: inherit;
}

button {
  cursor: pointer;
}

code {
  font-family: monospace;
}

a {
  text-decoration: none;
}

p,
a,
input,
textarea,
address {
  font-size: var(--font-sm);
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  border: 1px solid transparent;
  display: flex;
  font-size: var(--font-sm);
  background-color: var(--clr-orange);
  color: var(--font-color-inverse);
  align-items: center;
}
.btn:hover,
.btn:focus-visible {
  background-color: transparent;
  border: 1px solid black;
  color: var(--font-color);
  transition: var(--transition-2);
}

.btn-transparent {
  background-color: transparent;
  color: var(--font-color);
  border: 1px solid black;
}

.btn-transparent:hover,
.btn-transparent:focus-visible {
  background-color: var(--clr-orange);
  color: var(--font-color-inverse);
  border: 1px solid transparent;
}

.title-bar {
  border: solid 1px var(--clr-orange);
  background-color: var(--clr-orange);
  height: 3px;
  width: 4rem;
}

.title-bar--inverse {
  border: solid 1px var(--clr-light-900);
  background-color: var(--clr-light-900);
  height: 3px;
  width: 4rem;
}

@media (max-width: 768px) {
  :root {
    --padding-1: calc(3 / 5 * 1rem);
    --padding-2: calc(3 / 5 * 2rem);
    --padding-3: calc(3 / 5 * 3rem);
    --padding-4: calc(3 / 5 * 4rem);
    --padding-5: calc(3 / 5 * 5rem);

    --font-xs: calc(4 / 5 * 0.75rem);
    --font-sm: calc(4 / 5 * 1rem);
    /* NOTE: Change by different margin because of how small text gets */
    --font-md: calc(3 / 5 * 1.5rem);
    --font-lg: calc(3 / 5 * 2.5rem);
    --font-xl: calc(3 / 5 * 4rem);
    --font-xxl: calc(3 / 5 * 6rem);
  }
}
