@import "https://www.nerdfonts.com/assets/css/webfont.css";
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("/fonts/clash-display/Fonts/WEB/css/clash-display.css");

:root {
  --clr-dark-900: black;
  --clr-light-900: white;

  --bg-color-light: white;
  --bg-color-dark: #1c1b22;

  --clr-gray: #2c2b2d;
  --clr-gray-light: #dae2e7;
  --clr-orange: #f56e0f;
  --clr-orange-medium: #f9a971;
  --clr-orange-light: #fde9da;

  --padding-0_5: 0.5rem;
  --padding-1: 1rem;
  --padding-2: 2rem;
  --padding-3: 3rem;
  --padding-4: 4rem;
  --padding-5: 5rem;
  --padding-10: 10rem;

  --gap-0_5: 0.5rem;
  --gap-1: 1rem;
  --gap-2: 2rem;
  --gap-3: 3rem;
  --gap-4: 4rem;
  --gap-5: 5rem;

  --radius-1: 4px;
  --radius-2: 8px;
  --radius-3: 12px;
  --radius-4: 16px;
  --radius-5: 20px;
  --radius-10: 40px;

  --transition-1: 0.1s;
  --transition-2: 0.2s;

  --shadow: 0px 1px 3px 0px #00000040;

  --font-xxs: 0.812rem;
  --font-xs: 1rem;
  --font-sm: 1.25rem;
  --font-md: 1.562rem;
  --font-lg: 1.938rem;
  --font-xl: 2.438rem;
  --font-xxl: 3.062rem;
  --font-xxxl: 3.812rem;
}

@media (prefers-color-scheme: light) {
  :root {
    --font-color: var(--clr-dark-900);
    --font-color-inverse: var(--clr-light-900);
    --bg-color: var(--bg-color-light);
    --bg-color-inverse: var(--bg-color-dark);
  }
  body {
    background-color: var(--bg-color);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    /* Change back to dark when done */
    /*                               */
    /* --font-color: var(--clr-light-900); */
    /* --font-color-inverse: var(--clr-dark-900); */
    /* --bg-color: var(--bg-color-dark); */
    /* --bg-color-inverse: var(--bg-color-light); */
    --font-color: var(--clr-dark-900);
    --font-color-inverse: var(--clr-light-900);
    --bg-color: var(--bg-color-light);
    --bg-color-inverse: var(--bg-color-dark);
  }
  body {
    background-color: var(--bg-color);
  }
}

/* Breakpoints are specified using bootstrap breakpoints but desktop first */
@media (max-width: 768px) {
  :root {
    --padding-0_5: calc(4 / 6 * 0.5rem);
    --padding-1: calc(4 / 6 * 1rem);
    --padding-2: calc(4 / 6 * 2rem);
    --padding-3: calc(4 / 6 * 3rem);
    --padding-4: calc(3 / 6 * 4rem);
    --padding-5: calc(3 / 6 * 5rem);
    --padding-10: calc(3 / 6 * 10rem);

    --font-xxs: calc(6 / 7 0.812rem);
    --font-xs: calc(6 / 7 * 1rem);
    --font-sm: calc(6 / 7 * 1.25rem);
    --font-md: calc(6 / 7 * 1.562rem);
    --font-lg: calc(5 / 7 * 1.938rem);
    --font-xl: calc(4 / 7 * 2.438rem);
    --font-xxl: calc(4 / 7 * 3.062rem);
    --font-xxxl: calc(4 / 7 * 3.812rem);
  }
}

* {
  font-family:
    "Poppins",
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  padding: 0;
  margin: 0;
  color: inherit;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

html {
  color-scheme: dark light;
  box-sizing: border-box;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-padding-top: 4rem;
    scroll-behavior: smooth;
  }
}

body {
  color: var(--font-color);
  min-height: 100vh;
  min-height: 100svh;
}

table {
  text-indent: 0;
  border-color: inherit;
  border-collapse: collapse;
  border-spacing: 0;
}

img,
video,
svg,
picture {
  display: block;
  width: 100%;
}

button,
input,
select,
textarea {
  font: inherit;
}

button {
  cursor: pointer;
}

code {
  font-family: monospace;
}

a {
  text-decoration: none;
}

p,
a,
input,
textarea,
address {
  font-size: var(--font-xs);
}

h1 {
  font-size: var(--font-xl);
}

h2 {
  font-size: var(--font-lg);
}

li {
  list-style-position: inside;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-block: var(--padding-0_5);
  padding-inline: var(--padding-1);
  border: 1px solid var(--clr-orange);
  display: flex;
  font-size: var(--font-xs);
  background-color: var(--clr-orange);
  color: var(--font-color-inverse);
  align-items: center;
  border-radius: var(--radius-1);
  transition: var(--transition-2);
}
.btn:hover,
.btn:focus-visible {
  background-color: var(--clr-gray);
  border: 1px solid var(--clr-gray);
  color: var(--font-color-inverse);
  transition: var(--transition-2);
}

.btn--transparent {
  background-color: transparent;
  color: var(--font-color);
  border: 1px solid black;
}

.btn--transparent-inverse {
  background-color: transparent;
  color: var(--font-color-inverse);
  border: 1px solid white;
}

.btn--transparent-inverse:hover {
  background-color: white;
  color: var(--font-color);
  border: 1px solid white;
}

.title-bar {
  border: solid 1px var(--clr-orange);
  background-color: var(--clr-orange);
  height: 3px;
  width: 4rem;
}

.title-bar--inverse {
  border-color: var(--clr-light-900);
  background-color: var(--clr-light-900);
}
