.landing {
  background: linear-gradient(
    to right,
    var(--bg-color),
    var(--clr-orange-light)
  );
  display: grid;
}

.landing > * {
  max-width: 100vw;
  padding-block: 4rem;
}
.landing__hero {
  display: flex;
  gap: var(--gap-2);
  padding-inline: var(--padding-4);
  min-height: 80vh;
  min-height: 80svh;
  max-height: 100vh;
  max-height: 100svh;
}

.landing__hero > * {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
}

.landing .hero__text {
  align-items: start;
  gap: var(--gap-1);
}

.landing .hero__text h1 {
  width: 90%;
  font-size: 4rem;
}

.landing .hero__text p {
  padding-inline-end: 50%;
  font-size: 1.3rem;
}

.landing .hero__buttons {
  width: 100%;
  display: flex;
  padding-inline-end: 25%;
  justify-content: space-between;
}

.landing .companies__banner {
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-color);
  height: 6rem;
}

.landing .companies__banner > * {
  padding-inline-end: var(--padding-2);
}

.landing .companies__banner .track {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 100%;
  align-items: center;
  animation: scroll 10s linear infinite;
}

.landing .companies__banner:hover .track {
  animation-play-state: paused;
}

@keyframes scroll {
  0% {
    transform: translateX(50%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.landing .offerings-section {
  background-color: var(--clr-black);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--font-color-inverse);
  gap: var(--gap-3);
}

.landing .offerings-section__title {
  font-size: 1rem;
  border: solid 1px var(--font-color-inverse);
  padding-inline: var(--padding-2);
  border-radius: 0.5rem;
}

.landing .offerings-section__subtitle {
  max-width: 50%;
  text-align: center;
  font-size: 2.5rem;
}

.landing .offerings-section .card {
  width: 90%;
}

.landing .offerings-section__card {
  color: var(--font-color);
  padding: var(--padding-3);
  display: flex;
  gap: var(--gap-2);

  & .btn {
    align-self: flex-start;
  }

  & > * {
    display: flex;
    flex-direction: column;
    gap: var(--gap-1);

    & > i {
      font-size: 4rem;
    }

    & > h4 {
      font-size: 1.25rem;
    }
  }
}

.landing .programs-section {
  display: grid;
  gap: var(--gap-2);
  justify-content: center;
  padding-inline: var(--padding-4);
}

.landing .programs-section__title {
  display: flex;
  align-items: center;
  gap: var(--gap-1);
}

.landing .programs-section__subtitle {
  font-size: 2.5rem;
  font-weight: 700;
  min-width: 30rem;
  width: 35%;
}

.landing .programs-section__summary {
  width: 50%;
}

.landing .programs {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--gap-4);
}

.landing .program {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-block-end: var(--padding-1);
  height: 30rem;
  background-color: var(--bg-color);
}

.landing .program__image {
  height: 40%;
}

.landing .program__body {
  display: flex;
  flex-direction: column;
  gap: var(--gap-1);
  padding-inline: var(--padding-2);
}

.landing .program__title {
  font-size: 1.35rem;
}

.landing .program .btn {
  align-self: flex-end;
  font-size: 1rem;
  align-self: center;
}

.landing .deliver {
  background-color: var(--clr-orange-light);
  padding: var(--padding-4);
}

.landing .deliver__title {
  display: flex;
  align-items: center;
  gap: var(--gap-1);
}

.landing .deliver__content {
  display: flex;
  flex-direction: column;
  gap: var(--gap-1);
}

.landing .deliver__content > * {
  width: 50%;
}

.landing .deliver__text {
  width: 40%;
}

.landing .testimonials {
  display: flex;
  flex-direction: column;
  gap: var(--gap-2);
  overflow: hidden;
  background-color: var(--clr-black);
}

.landing .testimonials__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--gap-1);
  justify-content: center;
  color: white;
}

.landing .testimonials__title {
  font-size: 1rem;
  border: solid 1px var(--font-color-inverse);
  padding-inline: var(--padding-2);
  border-radius: 0.5rem;
}

.landing .testimonials__subtitle {
  display: grid;
  font-size: 2rem;
  font-weight: 500;
  gap: var(--gap-2);
  width: 40%;
  text-align: center;
  justify-content: center;
}

.landing .testimonials__summary {
  width: 40%;
  text-align: center;
}

.landing .testimonials__carousel {
  display: flex;
  flex-direction: column;
  gap: var(--gap-2);
  align-items: center;
}

.landing .testimonials__carousel .carousel__cards {
  padding-inline: var(--padding-2);
  padding-block-end: var(--padding-2);
  display: flex;
  overflow: hidden;
  gap: var(--gap-2);
}

.landing .testimonials__carousel .card {
  flex: 0 0 40%;
}

.landing .testimonials__carousel .carousel__card {
  height: 15rem;
  padding-block: 1rem;
  padding-inline: 2rem;
  background: var(--clr-light-gray);
  color: var(--font-color);
  border: solid 1px var(--clr-black);
  border-radius: 0.75rem;
}

.landing .testimonials__carousel .carousel__buttons {
  display: flex;
  gap: var(--gap-1);
}

.landing .testimonials__carousel .carousel__buttons .btn {
  border-radius: 999rem;
}
