.landing {
  display: grid;
}

.landing > * {
  max-width: 100vw;
  padding: var(--padding-5);
}
.landing__hero {
  display: flex;
  gap: var(--gap-2);
  background-image: url("assets/index/bg.png");
}

.landing__hero > * {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
}

.landing .hero__text {
  align-items: start;
  gap: var(--gap-1);

  & .text__content {
    display: flex;
    flex-direction: column;
    gap: var(--gap-3);
  }
}

.landing .hero__text h1 {
  font-family: "ClashDisplay-Medium";
  width: 80%;
  font-size: var(--font-xl);
  & span {
    font-family: "ClashDisplay-Medium";
    color: var(--clr-orange);
  }
}

.landing .hero__text > p {
  padding-inline-end: 25%;
  font-size: var(--font-md);
}

.landing .hero__buttons {
  width: 100%;
  display: flex;
  padding-inline-end: 25%;
  justify-content: space-between;
}

.landing .hero__trained {
  background-color: var(--clr-orange-light);
  padding-inline: var(--padding-2);
  padding-block: 0.5rem;
  width: 60%;
  min-width: 20rem;
  display: flex;
  align-items: center;
  height: 3rem;
  gap: var(--gap-1);
  & img {
    width: 30%;
    min-width: 4rem;
  }
  & p {
    font-size: var(--font-sm);
    font-weight: 600;
    width: 100%;
  }
  border-radius: 999rem;
}

.landing .hero__image {
  position: relative;
  display: flex;
  align-items: center;
  & .card {
    width: 70%;
    min-width: 20rem;
  }
}

.hero__graph {
  position: absolute;
  z-index: 1;
  bottom: -3rem;
  width: 35%;
  min-width: 10rem;
}

/* NOTE: Hero media query*/
@media (max-width: 1200px) {
  .landing > * {
    padding-inline: var(--padding-3);
  }
  .landing__hero {
    flex-direction: column;
    align-items: center;
  }

  .landing__hero > * {
    width: 100%;
  }

  .landing .hero__text {
    align-items: center;
    text-align: center;
  }
  .landing .hero__text h1 {
    width: 100%;
    text-align: center;
  }
  .landing .hero__text > p {
    padding-inline-end: 0;
  }
  .landing .hero__buttons {
    padding-inline-end: 0;
  }
  .landing .hero__trained {
    align-self: center;
  }
}

@media (max-width: 768px) {
  .landing .hero__text {
    align-items: start;
    text-align: left;
    & .text__content {
      font-size: var(--font-md);
    }
  }
  .landing .hero__text h1 {
    text-align: left;
  }
}

.landing .companies__banner {
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  background-color: var(--clr-orange-light);
  padding-block: var(--padding-1);
}

.landing .companies__banner > * {
  padding-inline-end: var(--padding-2);
}

.landing .companies__banner .track {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 100%;
  align-items: center;
  animation: scroll 10s linear infinite;
  & img {
    min-width: 70rem;
  }
}

.landing .companies__banner:hover .track {
  animation-play-state: paused;
}

@keyframes scroll {
  0% {
    transform: translateX(50%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.landing .offerings-section {
  background-color: var(--clr-black);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--font-color-inverse);
  gap: var(--gap-3);
}

.landing .offerings-section__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--gap-1);
  justify-content: center;
  color: white;
}
.landing .offerings-section__title {
  font-size: var(--font-sm);
  border: solid 1px var(--font-color-inverse);
  padding-inline: var(--padding-2);
  border-radius: 0.5rem;
}

.landing .offerings-section__subtitle {
  font-family: "ClashDisplay-Medium";
  max-width: 70%;
  font-weight: 500;
  text-align: center;
  font-size: var(--font-lg);
}

.landing .offerings-section__card {
  color: var(--font-color);
  padding: var(--padding-3);
  display: flex;
  gap: var(--gap-2);
}
.landing .offerings-section__card .btn {
  align-self: flex-start;
}

.landing .offerings-section__card > * {
  display: flex;
  flex-direction: column;
  gap: var(--gap-1);
}

.landing .offerings-section__card > * > i {
  font-size: var(--font-xl);
}

.landing .offerings-section__card > * > h4 {
  font-size: var(--font-md);
}

/* NOTE: offerings media query*/
@media (max-width: 1200px) {
  .landing .offerings-section__subtitle {
    max-width: 100%;
  }
  .landing .offerings-section__card {
    flex-direction: column;
  }
}
@media (max-width: 768px) {
  .landing .offerings-section__header {
    align-items: flex-start;
    & > * {
      text-align: left;
    }
  }
}

.landing .programs-section {
  display: grid;
  gap: var(--gap-4);
  justify-content: center;
  background-color: var(--clr-orange-light);
}

.landing .programs-section__title {
  gap: var(--gap-1);
  & h2 {
    font-family: "ClashDisplay-Medium";
    font-size: var(--font-lg);
  }
  & p {
    font-size: var(--font-md);
    color: var(--clr-gray);
  }
}

.landing .programs {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--gap-2);
}

.landing .program {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-block-end: var(--padding-1);
  height: 30rem;
  background-color: var(--bg-color);
}

.landing .program__image {
  height: 40%;
}

.landing .program__body {
  display: flex;
  flex-direction: column;
  gap: var(--gap-1);
  padding-inline: var(--padding-2);
}

.landing .program__title {
  font-size: var(--font-md);
}

.landing .program .btn {
  font-size: var(--font-sm);
  align-self: center;
}

/* NOTE: programs media query*/
@media (max-width: 1200px) {
  .landing .programs {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 768px) {
  .landing .programs {
    grid-template-columns: initial;
  }
  .landing .program {
    height: 20rem;
  }
  .landing .program__image {
    height: 60%;
  }
  .landing .program__body p {
    display: none;
  }
  .landing .program .btn {
    margin-inline: var(--padding-2);
    margin-bottom: 1rem;
    align-self: flex-start;
  }
}

.landing .deliver {
  background-color: var(--clr-black);
  gap: var(--gap-2);
  display: flex;
  & > * {
    width: 50%;
  }
}

.landing .deliver__content {
  display: flex;
  flex-direction: column;
  gap: var(--gap-1);
}

.landing .deliver__title {
  font-family: "ClashDisplay-Medium";
  font-size: var(--font-lg);
  color: var(--clr-orange-light);
}

.landing .deliver__text {
  font-size: var(--font-md);
  color: var(--clr-gray-light);
}

/* NOTE: deliver media query*/
@media (max-width: 1200px) {
  .landing .deliver {
    flex-direction: column-reverse;
    & > * {
      width: 100%;
    }
  }
  .landing .deliver__title {
    text-align: center;
  }
  .landing .deliver__text {
    text-align: center;
  }
}

.landing .call-to-action__wrapper {
  display: flex;
  justify-content: center;

  & .call-to-action__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--gap-1);
    & h2 {
      font-family: "ClashDisplay-Medium";
      font-size: var(--font-lg);
      width: 75%;
      text-align: center;
    }

    & .btns {
      display: flex;
      padding-inline: var(--padding-5);
      width: 100%;
      gap: var(--gap-1);

      & > * {
        width: 50%;
      }
    }
  }
}

.landing .testimonials {
  display: flex;
  display: none; /* temp */
  flex-direction: column;
  gap: var(--gap-2);
  overflow: hidden;
  background-color: var(--clr-black);
}

.landing .testimonials__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--gap-1);
  justify-content: center;
  color: white;
}

.landing .testimonials__title {
  font-size: var(--font-sm);
  border: solid 1px var(--font-color-inverse);
  padding-inline: var(--padding-1);
  border-radius: 0.5rem;
}

.landing .testimonials__subtitle {
  font-family: "ClashDisplay-Medium";
  display: grid;
  font-size: var(--font-lg);
  font-weight: 500;
  gap: var(--gap-2);
  text-align: center;
  justify-content: center;
}

.landing .testimonials__summary {
  width: 70%;
  min-width: 20rem;
  text-align: center;
  font-size: var(--font-md);
}
.landing .testimonials__cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--gap-2);
}
.landing .testimonials__card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: var(--gap-1);
  padding: var(--padding-2);
  font-weight: 500;

  & .card__person {
    display: flex;
    align-items: center;
    gap: var(--gap-2);

    & > img {
      width: 1%;
      min-width: 3.5rem;
      min-height: 3.5rem;
      border-radius: 9999rem;
    }

    & .person__info {
      display: flex;
      flex-direction: column;

      & p:last-child {
        color: var(--clr-gray);
      }
    }
  }
}

/* NOTE: testimonials media query*/
@media (max-width: 1200px) {
  .landing .testimonials__cards {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (max-width: 768px) {
  .landing .testimonials__cards {
    display: flex;
    overflow: scroll;
    padding: var(--padding-2);
    & > * {
      min-height: 17rem;
      min-width: 17rem;
    }
  }
  .landing .testimonials__card {
    min-height: 17rem;
    min-width: 17rem;
  }
  .landing .testimonials__header {
    align-items: flex-start;
    & > * {
      text-align: left;
    }
  }
}
