.bio {
  display: flex;
  flex-direction: column;
  gap: var(--gap-2);
  padding-inline: var(--padding-10);
  padding-block: var(--padding-5);
}
@media (max-width: 1200px) {
  .bio {
    padding-inline: var(--padding-5);
  }
}

.bio__top {
  display: flex;
  align-items: flex-end;
  gap: var(--gap-3);
}

@media (max-width: 1200px) {
  .bio__top {
    flex-direction: column;
    align-items: flex-start;
    gap: var(--gap-1);
  }
}

.bio__image {
  align-self: flex-start;

  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--clr-gray-light);

  max-width: 25rem;
}

.bio__name {
  font-family: "ClashDisplay-Regular";
  font-weight: 400;
  font-size: var(--font-xxl);
}

.bio__title {
  font-size: var(--font-md);
  font-weight: 400;
}

.bio__body {
  display: flex;
  flex-direction: column;
  gap: var(--gap-1);
}
